# Remember:
* Import the package, aka ` import pandas as pd `
* A table of data is stored as a pandas ` DataFrame `
* Each column in a ` DataFrame ` is a ` Series `
* You can do things by applying a method to a ` DataFrame ` or ` Series `

In [3]:
import pandas as pd

creating new panda DataFrame object named ` df `

In [4]:
df = pd.DataFrame({"Name": ["Braund, Mr. Owen Harris", "Allen, Mr. William Henry", "Bonnell, Miss. Elizabeth",], "Age": [22, 23, 58], "Sex": ["male", "male", "female"],})

In [5]:
df

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   23    male
2  Bonnell, Miss. Elizabeth   58  female

In [7]:
df["Age"]

0    22
1    23
2    58
Name: Age, dtype: int64

^ When selecting a single column of a pandas **` DataFrame `**, the result is a pandas **` Series `**. To select the column, use the column label in between square brackets [].

You can create a series from scratch as well.

In [9]:
ages = pd.Series([22, 35, 58], name = "Age")
print(ages)

0    22
1    35
2    58
Name: Age, dtype: int64

In [10]:
ages + 1

0    23
1    36
2    59
Name: Age, dtype: int64

A pandas ` Series ` has no column labels, as it is just a single column of a DataFrame. 
## However, A Series does have row labels.

# Do Something with a DataFrame or Series
## I want to know the maximum Age of the passengers
* We can do this on the ` DataFrame ` by selecting the ` Age ` column and applying ` max() `:
    * It will return the highest ` int ` value is the ` Age ` column

In [11]:
df["Age"].max()

58

Or to the ` Series `:

In [12]:
ages.max()

58

## Let's say I'm interested in some basic statistics of the numerical data of my data table...

In [13]:
df.describe()

             Age
count   3.000000
mean   34.333333
std    20.502032
min    22.000000
25%    22.500000
50%    23.000000
75%    40.500000
max    58.000000

* The **` describe `** method provides a quick overview of the numerical data in a ` DataFrame `. As the ` Name ` and ` Sex ` columns are textual data, these are by default not taken into account by the **` describe() `** method.
* Many pandas operations return a ` DataFrame ` or a ` Series `. 
The **` describe() `** method is an example of a pandas operation returning a pandas ` Series `.